
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
 
.navbar {
  position: fixed;
  font-size: x-large;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent !important; 
}

.navbar-brand{
  font-size: 2em;
  color: rgb(90, 12, 127);
}

.nav-link{
  color: rgb(90, 12, 127);
  margin-left: 15px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7); /* Add shadow for better contrast */
}

.navbar-toggler{
  margin-right: 15px;
}

.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 1.5s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
    font-size: 0.7em !important;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } 
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } 
    100% {
      transform: rotate(0deg);
    }
  }

  .intro {
    text-align: right;
    font-size: 4.4em !important;
    padding-right: 50px !important;
    padding-top: 200px !important;
    color: rgb(107, 12, 170);
  }

  .name{
    color: rgb(86, 0, 144);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
  }
  
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  
  .profile img {
    width: 60%;
    height: 80%;
    object-fit: scale-down;
  }

  .footer {
    font-size: 10px;
    color: aliceblue;
    background-color: rgb(90, 12, 127);
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 4px !important ;
    z-index: 100;
    text-align: center !important;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icons {
    margin-left: 15px;
    display: flex;
    align-items: center;
  }
  
  .social-icons a {
    margin-right: 15px;
    pointer-events: auto;
    z-index: 101;
  }

  .social-icons a i{
    font-size: 20px;
  }

  @media (min-width: 786px) {
  iframe {
    height: 800px; /* Larger height for wider screens */
  }
}

@media (max-width: 786px) {
  iframe {
    height: 400px; /* Smaller height for narrow screens */
  }
}
